@import "mixins";

.theme {
  background-color: var(--c-main);
  color: var(--c-main-inv);
}

.title {
  font-size: 52px;
  line-height: 62px;

  text-align: center;

  letter-spacing: 2px;

  @include _760 {
    font-size: 48px;
    font-weight: 400;

    line-height: 58px;
  }

  @include _540 {
    font-size: 40px;

    line-height: 50px;
  }
}

.subtitle {
  max-width: 600px;
  width: 90%;

  margin: 0 auto 80px;

  font-size: 20px;
  line-height: 30px;

  text-align: center;

  @include _760 {
    font-size: 18px;
  }

  @include _540 {
    font-size: 16px;
  }
}

.button {
  display: block;

  height: 52px;

  padding: 10px 30px;

  color: var(--c-main-inv);

  font-family: inherit;
  font-weight: 400;
  letter-spacing: 1px;

  transition: all var(--a-short);

  &_contained {
    border: 1px solid var(--c-accent);

    background-color: var(--c-accent);

    &:hover {
      border: 1px solid var(--c-accent);

      color: var(--c-accent);
      background-color: transparent;
    }
  }

  &_outlined {
    border: 1px solid var(--c-main-inv);

    background-color: transparent;

    &:hover {
      background-color: var(--c-main-inv);
      color: var(--c-main);
    }
  }
}