@import "vars";
@import "mixins";

.features {
  padding: 100px 0 20px;

  &__title {
    margin-bottom: 27px;

    text-transform: uppercase;
  }

  &__content {
    display: flex;

    max-width: 1088px;
    width: 90%;

    margin: 0 auto 62px;

    @include _760 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 310px;
  }
}

.images {
  position: relative;

  max-width: 752px;
  width: 100%;

  padding: 0 28px;

  &__bg {
    width: 100%;
    height: auto;
  }

  &__charts {
    position: absolute;
    bottom: 0;
    right: 0;

    max-width: 400px;
    height: auto;
  }
}

.item {
  display: flex;
  flex-direction: column;

  @include _760 {
    margin-bottom: 40px;
  }

  &__icon {
    width: auto;
    height: 55px;

    margin-right: 15px;
  }

  &__header {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
  }
}