@import "vars";
@import "mixins";

.footer {
  padding: 107px 0;

  @include _760 {
    padding: 50px 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "col1 col2 col3 . info info";

    max-width: 1031px;
    width: 90%;

    margin: 0 auto;

    @include _760 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "col1 col2 col3"
        "info info info";
    }

    @include _540 {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        "col1"
        "col2"
        "col3"
        "info";
    }
  }
}

.column {
  @include _760 {
    margin-bottom: 30px;
  }

  &__title {
    display: block;

    margin-bottom: 30px;

    font-size: 20px;
    font-weight: 500;

    line-height: 30px;
  }
  
  &__text {
    display: block;

    margin-bottom: 10px;
  }

  &__1 {
    grid-area: col1;
  }

  &__2 {
    grid-area: col2;
  }

  &__3 {
    grid-area: col3;
  }
}

.info {
  grid-area: info;

  &__locality {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    &:hover .info__icon {
      animation: pulse 1.5s linear infinite backwards;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    & .info__icon {
      margin: 0 13px;
    }

    &:hover .info__icon {
      animation: pulse 1.5s linear infinite backwards;
    }
  }

  &__text:last-child {
    display: flex;
    align-items: center;
  }
}

.socials {
  display: flex;
  align-items: center;

  height: 40px;

  padding-left: 10px;

  &__icon {
    height: 100%;
    width: auto;

    margin-right: 25px;

    &:hover {
      filter: invert(70%) sepia(85%) saturate(5100%) hue-rotate(210deg) brightness(100%) contrast(93%);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}
