@import "vars";
@import "mixins";

.gallery {
  @include theme;

  padding: 50px 0 150px;

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }
}

.list {
  max-width: 1087px;
  width: 90%;

  margin: 0 auto;

  &__button {
    @include button;

    margin: 44px auto 0;
  }

  &__image {
    height: 100%;
    width: auto;

    border-radius: 8px;

    @include _760 {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;

  height: 285px;

  margin: 44px 0 44px;
  padding: 0 44px;

  @include _760 {
    flex-direction: column;
    align-items: center;

    height: fit-content;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  height: 285px;

  @include _760 {
    display: none;
  }
}