@import "vars";
@import "mixins";

.header {
  padding-bottom: 50px;

  background-color: $c-main;
  color: $c-main-inv;

  &__title {
    display: block;

    max-width: 750px;

    margin: 0 auto 15px;

    font-size: 80px;

    text-align: center;
    line-height: 88px;
  }

  &__subtitle {
    display: block;

    max-width: 605px;

    margin: 0 auto 85px;

    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  &__background {
    display: block;

    height: 840px;
    width: auto;

    margin: 0 auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1097px;
  height: 119px;

  margin: 0 auto 90px;
  padding: 20px 30px;

  &__logo {
    width: 206px;
    height: auto;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 44px;

    padding: 10px;
  }

  &__login {
    @include button;
  }
}

.list {
  &__item {
    transition: color $a-short;
  }

  &__item:hover {
    color: #43b6ff;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  width: 387px;

  margin: 0 auto 35px;

  &__try {
    @include button;

    border-color: $c-accent;

    background-color: $c-accent;

    &:hover {
      border: 1px solid $c-accent;

      color: $c-accent;
      background-color: transparent;
    }
  }

  &__learn {
    @include button;
  }
}