@import "vars";

@mixin button {
  width: 139px;
  height: 52px;

  border: 1px solid $c-main-inv;

  background-color: transparent;
  color: $c-main-inv;

  font-family: inherit;
  letter-spacing: 1px;
  line-height: 52px;
  font-weight: 400;

  transition: all $a-short;

  &:hover {
    background-color: $c-main-inv;
    color: $c-main;
  }
}

@mixin title {
  font-size: 52px;
  line-height: 62px;

  text-align: center;
}

@mixin subtitle {
  max-width: 600px;

  margin: 0 auto 80px;

  font-size: 20px;
  line-height: 30px;

  text-align: center;
}