@import "vars";

@mixin button {
  display: block;

  height: 52px;

  padding: 10px 30px;

  border: 1px solid $c-main-inv;

  background-color: transparent;
  color: $c-main-inv;

  font-family: inherit;
  font-weight: 400;
  letter-spacing: 1px;

  transition: all $a-short;

  &:hover {
    background-color: $c-main-inv;
    color: $c-main;
  }
}

@mixin accentButton {
  display: block;

  padding: 10px 36px;
  border: 1px solid $c-accent;

  background-color: $c-accent;
  color: $c-main-inv;

  font-family: inherit;
  letter-spacing: 1px;

  transition: all $a-short;

  &:hover {
    border: 1px solid $c-accent;

    color: $c-accent;
    background-color: transparent;
  }
}

@mixin title {
  font-size: 52px;
  line-height: 62px;

  text-align: center;

  letter-spacing: 2px;
}

@mixin subtitle {
  max-width: 600px;

  margin: 0 auto 80px;

  font-size: 20px;
  line-height: 30px;

  text-align: center;
}