@import "mixins";

.try {
  @include theme;

  padding: 80px 0;

  @include _900 {
    background-color: var(--faint-strong);
  }
}

.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;

  max-width: 1219px;
  width: 90%;
  height: 370px;

  margin: 0 auto;

  border-radius: 33px;

  background-color: var(--faint-strong-down);

  overflow: hidden;

  @include _900 {
    border-radius: 0;

    background-color: var(--faint-strong);
  }

  @include _760 {
    grid-template-columns: 1fr;
    justify-items: center;

    height: fit-content;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 75px 45px;

    @include _1050 {
      padding: 40px 20px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-size: 48px;
    font-weight: 400;

    line-height: 58px;
    text-align: center;

    @include _1050 {
      font-size: 44px;
    }

    @include _760 {
      font-size: 40px;
    }
  }

  &__button {
    width: 232px;
  }

  &__image {
    position: absolute;
    right: 0;

    width: 50%;
    height: auto;
    
    @include _760 {
      position: static;

      width: 80%;
    }
  }
}