:root {
  --base-strong: #181818;
  --base-weak: #fff;
  --accent: #4452fe;
  --faint-weak: #5c5c5c;
  --faint-strong-down: #343434;
  --faint-strong: #1e1e1e;

  --transition-short: 0.3s;
  --transition-long: 2s;
}
